{# templates/_flash.html.twig #}
<div class="container-fluid">
    {% for class, messages in app.flashes %}
        {% for message in messages %}
            {% if class == 'primary' %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% elseif class == 'secondary' %}
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
            {% elseif class == 'success' %}
                <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                    <div class="flex-shrink-0 me-2">
                        <twig:ux:icon name="bi:check-circle-fill" />
                    </div>
            {% elseif class == 'danger' %}
                <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                    <div class="flex-shrink-0 me-2">
                        <twig:ux:icon name="bi:exclamation-triangle-fill" />
                    </div>
            {% elseif class == 'warning' %}
                <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center" role="alert">
                    <div class="flex-shrink-0 me-2">
                        <twig:ux:icon name="bi:exclamation-triangle" />
                    </div>
            {% elseif class == 'info' %}
                <div class="alert alert-info alert-dismissible fade show d-flex align-items-center" role="alert">
                    <div class="flex-shrink-0 me-2">
                        <twig:ux:icon name="bi:info-circle" />
                    </div>
            {% elseif class == 'light' %}
                <div class="alert alert-light alert-dismissible fade show" role="alert">
            {% elseif class == 'dark' %}
                <div class="alert alert-dark alert-dismissible fade show" role="alert">
            {% endif %}
                    <div class="flex-grow-1">{{ message|raw }}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                </div>
        {% endfor %}
    {% endfor %}
</div>