<footer class="mt-auto bg-megafacil text-megafacil">
    <nav class="navbar navbar-expand-lg sticky-bottom">
        <div class="container-fluid d-flex flex-column flex-md-row justify-content-between">
            <div class="navbar-bg-megafacil">
                <a class="nav-link fs-6" aria-current="page" href="https://www.paginaemconstrucao.com.br">
                    <small><twig:ux:icon name="bi:globe" /> www.paginaemconstrucao.com.br</small>
                </a>
            </div>
            <div class="navbar-bg-megafacil">
                <small><twig:ux:icon name="bi:bookmark" /> Versão: {{ app.request.server.get('APP_VERSION') }}</small>
            </div>
        </div>
    </nav>
</footer>