{# template/_formFooter.html.twig #}
<div class="card-footer bg-gradient d-flex justify-content-between">
    <div>
        <a class="btn btn-outline-secondary bg-gradient btn-sm shadow" data-controller="loading" data-action="click->loading#show" href="{{ voltar_href }}"><twig:ux:icon name="bi:arrow-left" /> Voltar</a>
    </div>
    <div>
        <button type="reset" class="btn btn-secondary bg-gradient btn-sm shadow"><twig:ux:icon name="carbon:clean" /> Limpar</button>
        <button type="submit" class="btn btn-primary bg-gradient btn-sm shadow"><twig:ux:icon name="bi:floppy" /> Salvar</button>
    </div>
</div>